.recruitCard {
  width: 525px;
  height: fit-content;
  border: 1px solid #b9b9b9;
  border-radius: 10px;
  background-color: #fff;
  padding: 16px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 576px) {
    width: 100%;
  }
}
.cardBadge {
  color: #fff;
  padding-inline: 8px;
  padding-block: 3px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  max-height: 27px;
  user-select: none;
}
.degree {
  background-color: #666666;
}
.player {
  background-color: #18a1ff;
}
.genere {
  background-color: #faad14;
}
.former {
  display: flex;
  align-items: center;
  gap: 8px;
}
.userPhotoWrapper {
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.userPhoto {
  object-fit: cover;
}
.userPhotoDefault {
  width: 32px;
  height: 32px;
  background-color: #1581cc;
  overflow: hidden;
  position: relative;
}
.userDefaultIcon {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: calc(50% - 12px);
}
.coverWrapper {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 160px;
}
.noCoverBackground {
  width: 100%;
  height: 100%;
  background-color: #1581cc;
  display: flex;
  align-items: center;
  justify-content: center;
}